{% extends "base.html.twig" %}

{% block title %}
    {% if action == "add" %}
        Créer
    {% else %}
        Modifier
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div id="manage_trick" class="row">
            <h1>Créer un nouveau trick</h1>
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {% if action == "add" %}
                    {{ form_row(form.photos, {required: true}) }}
                {% else %}
                    {{ form_row(form.photos) }}
                {% endif %}
            </div>
            {% if action == "edit" %}
                <div class="col-12 wrap-image">
                    {% for photo in photos %}
                        <div class="container-img">
                            <span class="delete-photo" id="image-{{ photo.id }}" onclick="removeImg({{ photo.id }});"><i class="fal fa-times-circle"></i></span>
                            <img src="{{ asset('/images/trick/' ~ photo.title) }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
            {% if action == "edit" %}
                <div class="col-12 wrap-video">
                    {% for video in videos %}
                    <div class="container-video">
                        <span class="delete-video" id="video-{{ video.id }}" onclick="removeVideo({{ video.id }});"><i class="fal fa-times-circle"></i></span>
                        <embed src="{{ video.url }}" type="video/webm">
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-6">
                {{ form_row(form.categories) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.video) }}
                <div class="d-flex">
                    <button type="button" class="btn btn-primary w-100" onclick="addVideo()"><i class="fas fa-plus"></i></button>
                    <button type="button" class="btn btn-danger w-100 d-none remove-input-btn" onclick="removeInputVideo()"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {% if action == "add" %}
                    Créer
                {% else %}
                    Modifier
                {% endif %}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('trick') }}

    <script>
        function addVideo()
        {
            var lastVideo = document.querySelectorAll(".video");

            lastVideo[lastVideo.length - 1].insertAdjacentHTML('afterend', `
                <div class="form-group"></span><label for="trick_video">Ajoute une vidéo</label><input type="text" name="video-${lastVideo.length}" class="video form-control form-control" required></div>
            `);

            let btnRemoveInput = document.querySelector(".remove-input-btn");
            btnRemoveInput.classList.remove('d-none')

        }

        function removeInputVideo()
        {
            var lastVideo = document.querySelector(".video:last-child");

            if (lastVideo.id != 'trick_video') {
                lastVideo.parentNode.remove();
            } else {
                let btnRemoveInput = document.querySelector(".remove-input-btn");
                btnRemoveInput.classList.add('d-none')
            }
        }

        function removeImg(id)
        {
            fetch('/trick/suppression-image/json', {
                method: 'post',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({
                    id: id
                }),
            })
                .then((response) => {
                    return response.json();
                })
                .then((result) => {
                    if (result.status === "success") {
                        let imgDiv = document.querySelector("#image-" + id).parentNode
                        imgDiv.style.display = "none"
                    }
                })
        }

        function removeVideo(id)
        {
            fetch('/trick/suppression-video/json', {
                method: 'post',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({
                    id: id
                }),
            })
                .then((response) => {
                    return response.json();
                })
                .then((result) => {
                    if (result.status === "success") {
                        let imgDiv = document.querySelector("#video-" + id).parentNode
                        imgDiv.style.display = "none"
                    }
                })
        }
    </script>

{% endblock %}