{% extends "base.html.twig" %}

{% block title %}
    {% if action == "add" %}
        Créer
    {% else %}
        Modifier
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <div id="manage_trick" class="row">
            <h1>Créer un nouveau trick</h1>
            <div class="col-md-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-md-6">
                {% if action == "add" %}
                    {{ form_row(form.photos, {required: true}) }}
                {% else %}
                    {{ form_row(form.photos) }}
                {% endif %}
            </div>
            {% if action == "edit" %}
                <div class="col-12 wrap-image">
                    {% for photo in photos %}
                        <div class="container-img">
                            <span class="delete-photo"><i class="fal fa-times-circle"></i></span>
                            <img src="{{ asset('/images/trick/' ~ photo.title) }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-12">
                {{ form_row(form.description) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.categories) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.video) }}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if action == "add" %}
                    Créer
                {% else %}
                    Modifier
                {% endif %}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

    <script>
        let buttons = document.getElementsByClassName('.delete-photo')

        console.log(buttons)

        for (var i = 0; i < buttons.length; i++) {
            buttons[i].style.color = "red";
        }
    </script>

{% endblock %}